html,
body {
  display: flex;
  width: 100%;
  height: 98%;
  background-color: #470440;
  background-repeat: no-repeat;
}
.container{
  color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}
.corpo{
  display: flex;
  justify-content: space-between;
}
.voltar{
  display: flex;
  flex-direction: column;
  align-items: end;
  position: fixed;
}
.voltar > a{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: rgb(216, 221, 217);
  opacity: 70%;
}
.voltar > a:hover{
  background-color: #aeb7ad42;
  border-radius: 1rem;
  color: rgb(0, 0, 0);
}
.voltar > a > span{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;  
}

.novo{
  color: black;
  margin: 3rem 0rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  width: 13rem;
  padding: 1rem;
  background-color: #18f300a8;
  height: fit-content;
}
.editar{
  color: black;
  margin: 3rem 0rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  width: 13rem;
  padding: 1rem;
  background-color: #d4e235b0;
  height: fit-content;
}
.novoEmp{
  text-align: left;
}
.novoEmp > input{
  margin: 0.4rem 0rem;
}
.novoEmp > div{
  text-align: end;
}
.btnSalvar{
  margin: 1.5rem 0rem 0rem 0rem;
  text-decoration: none;
  font-size: 0.7rem;
  color: #fff;
  padding: 0.7rem;
  background-color: #20101f;
  border-radius: 0.3rem;
  border: none;
  user-select: none;
  cursor: pointer;
}
.btnCancelar{
  margin: 1.5rem 0rem 0rem 0rem;
  text-decoration: none;
  font-size: 0.7rem;
  padding: 0.7rem;
  border-radius: 0.3rem;
  border: none;
  user-select: none;
  background-color: #f0ffff00;
  cursor: pointer;
  color: white;
}

.lista{
  color: black;
  margin: 3rem 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 0.3rem;
  width: 100%;
  padding: 1rem;
  background-color: #aeb7ad42;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
  background-color: #aeb7ad42;
}

tr:hover{
  background-color: #aeb7ad42;
}

th {
  background-color: #000000ab;
  color: white;
}

.btnEdit{
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.acoes{
  display: flex;
    width: 40%;
    justify-content: space-between;
}

