
.metadata/.bak_0.log
.metadata/.log
.metadata/.mylyn/tasks.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.projects/ComJPA/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/Estacionamento_Automatizado/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Estacionamento_Automatizado/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/Estacionamento_Automatizado/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/SemJPA/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/31.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.server.tomcat.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.discovery.prefs
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1301684271.index
.metadata/.plugins/org.eclipse.jdt.core/148114449.index
.metadata/.plugins/org.eclipse.jdt.core/1558234620.index
.metadata/.plugins/org.eclipse.jdt.core/1644299799.index
.metadata/.plugins/org.eclipse.jdt.core/1802926149.index
.metadata/.plugins/org.eclipse.jdt.core/1817246152.index
.metadata/.plugins/org.eclipse.jdt.core/1964296677.index
.metadata/.plugins/org.eclipse.jdt.core/2155685345.index
.metadata/.plugins/org.eclipse.jdt.core/2158205419.index
.metadata/.plugins/org.eclipse.jdt.core/2254571451.index
.metadata/.plugins/org.eclipse.jdt.core/2266200260.index
.metadata/.plugins/org.eclipse.jdt.core/2458036738.index
.metadata/.plugins/org.eclipse.jdt.core/2476351216.index
.metadata/.plugins/org.eclipse.jdt.core/2608260697.index
.metadata/.plugins/org.eclipse.jdt.core/2619079390.index
.metadata/.plugins/org.eclipse.jdt.core/2777612265.index
.metadata/.plugins/org.eclipse.jdt.core/2830907375.index
.metadata/.plugins/org.eclipse.jdt.core/2831726757.index
.metadata/.plugins/org.eclipse.jdt.core/2918241603.index
.metadata/.plugins/org.eclipse.jdt.core/2923218292.index
.metadata/.plugins/org.eclipse.jdt.core/3259301653.index
.metadata/.plugins/org.eclipse.jdt.core/3402186329.index
.metadata/.plugins/org.eclipse.jdt.core/3541128027.index
.metadata/.plugins/org.eclipse.jdt.core/3671912162.index
.metadata/.plugins/org.eclipse.jdt.core/368223528.index
.metadata/.plugins/org.eclipse.jdt.core/3835088761.index
.metadata/.plugins/org.eclipse.jdt.core/3929848548.index
.metadata/.plugins/org.eclipse.jdt.core/4085831533.index
.metadata/.plugins/org.eclipse.jdt.core/408771512.index
.metadata/.plugins/org.eclipse.jdt.core/424507317.index
.metadata/.plugins/org.eclipse.jdt.core/4276758565.index
.metadata/.plugins/org.eclipse.jdt.core/549610671.index
.metadata/.plugins/org.eclipse.jdt.core/555507292.index
.metadata/.plugins/org.eclipse.jdt.core/741416789.index
.metadata/.plugins/org.eclipse.jdt.core/749152853.index
.metadata/.plugins/org.eclipse.jdt.core/911398812.index
.metadata/.plugins/org.eclipse.jdt.core/916643475.index
.metadata/.plugins/org.eclipse.jdt.core/971378871.index
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jst.j2ee.web/webLibrariesCache.index
.metadata/.plugins/org.eclipse.jst.j2ee/earLibrariesCache.index
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.ui.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/16523487.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1720669550.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1849221561.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2097778172.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3541128027.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3708393532.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.server.core/servers.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.validation/dep.index
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/version.ini
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.history/5a/70ab96164203001b1860c837602b73cf
.metadata/.plugins/org.eclipse.core.resources/.history/7/a04e7bcd4103001b1860c837602b73cf
.metadata/.plugins/org.eclipse.core.resources/.history/78/105bd1004103001b1860c837602b73cf
.metadata/.plugins/org.eclipse.core.resources/.history/8/d006db323f03001b1860c837602b73cf
.metadata/.plugins/org.eclipse.core.resources/.history/87/305bedb94103001b1860c837602b73cf
.metadata/.plugins/org.eclipse.core.resources/.projects/ComJPA/.indexes/6e/26/f9/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/ComJPA/.indexes/e4/84/46/84/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/ComJPA/.indexes/e4/f9/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/ComJPA/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/ComJPA/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Estacionamento_Automatizado/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Estacionamento_Automatizado/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/SemJPA/.indexes/e4/84/60/92/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/SemJPA/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/SemJPA/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.root/33.tree
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/33.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/Tomcat v9.0 Server at localhost.launch
.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.ui.workbench.swt/dialog_settings.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/1017854760.index
.metadata/.plugins/org.eclipse.jdt.core/1129017411.index
.metadata/.plugins/org.eclipse.jdt.core/1179552412.index
.metadata/.plugins/org.eclipse.jdt.core/1186079620.index
.metadata/.plugins/org.eclipse.jdt.core/1186734610.index
.metadata/.plugins/org.eclipse.jdt.core/1210765492.index
.metadata/.plugins/org.eclipse.jdt.core/1244066693.index
.metadata/.plugins/org.eclipse.jdt.core/1275757039.index
.metadata/.plugins/org.eclipse.jdt.core/1321045082.index
.metadata/.plugins/org.eclipse.jdt.core/1453267757.index
.metadata/.plugins/org.eclipse.jdt.core/1507179879.index
.metadata/.plugins/org.eclipse.jdt.core/1708093076.index
.metadata/.plugins/org.eclipse.jdt.core/1776430390.index
.metadata/.plugins/org.eclipse.jdt.core/1952241803.index
.metadata/.plugins/org.eclipse.jdt.core/196180743.index
.metadata/.plugins/org.eclipse.jdt.core/2010232574.index
.metadata/.plugins/org.eclipse.jdt.core/2068966988.index
.metadata/.plugins/org.eclipse.jdt.core/2095458645.index
.metadata/.plugins/org.eclipse.jdt.core/2205066236.index
.metadata/.plugins/org.eclipse.jdt.core/2279020307.index
.metadata/.plugins/org.eclipse.jdt.core/2906193067.index
.metadata/.plugins/org.eclipse.jdt.core/2944487613.index
.metadata/.plugins/org.eclipse.jdt.core/311302103.index
.metadata/.plugins/org.eclipse.jdt.core/3139812003.index
.metadata/.plugins/org.eclipse.jdt.core/3167972765.index
.metadata/.plugins/org.eclipse.jdt.core/3173553096.index
.metadata/.plugins/org.eclipse.jdt.core/3236021421.index
.metadata/.plugins/org.eclipse.jdt.core/3344863296.index
.metadata/.plugins/org.eclipse.jdt.core/3350491899.index
.metadata/.plugins/org.eclipse.jdt.core/3493830024.index
.metadata/.plugins/org.eclipse.jdt.core/3650481041.index
.metadata/.plugins/org.eclipse.jdt.core/3741943012.index
.metadata/.plugins/org.eclipse.jdt.core/3806366394.index
.metadata/.plugins/org.eclipse.jdt.core/382511029.index
.metadata/.plugins/org.eclipse.jdt.core/3868291795.index
.metadata/.plugins/org.eclipse.jdt.core/388971070.index
.metadata/.plugins/org.eclipse.jdt.core/3914222856.index
.metadata/.plugins/org.eclipse.jdt.core/3963545010.index
.metadata/.plugins/org.eclipse.jdt.core/3969615065.index
.metadata/.plugins/org.eclipse.jdt.core/444183711.index
.metadata/.plugins/org.eclipse.jdt.core/560178012.index
.metadata/.plugins/org.eclipse.jdt.core/585133494.index
.metadata/.plugins/org.eclipse.jdt.core/603688252.index
.metadata/.plugins/org.eclipse.jdt.core/833151350.index
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/indexNamesMap.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/4.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/5.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/6.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/7.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/8.png
.metadata/.plugins/org.eclipse.jst.jsp.core/taglibindex/3541128027.dat
.metadata/.plugins/org.eclipse.jst.jsp.core/taglibindex/3835088761.dat
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2020/9/40/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2020/9/40/refactorings.index
.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3835088761.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.server.core/monitors.xml
.metadata/.plugins/org.eclipse.wst.server.core/publish.xml
.metadata/.plugins/org.eclipse.wst.server.core/publish/publish0.dat
.metadata/.plugins/org.eclipse.wst.server.core/tmp-data.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/catalina.policy
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/catalina.properties
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/context.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/server.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/tomcat-users.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/web.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/logs/localhost_access_log.2020-09-29.txt
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/ROOT/WEB-INF/web.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.validation/dep.index
.metadata/version.ini
