
/.metadata/
Servers/Tomcat v9.0 Server at localhost-config/web.xml
Servers/Tomcat v9.0 Server at localhost-config/tomcat-users.xml
Servers/Tomcat v9.0 Server at localhost-config/server.xml
Servers/Tomcat v9.0 Server at localhost-config/context.xml
Servers/Tomcat v9.0 Server at localhost-config/catalina.properties
Servers/Tomcat v9.0 Server at localhost-config/catalina.policy
Servers/.settings/org.eclipse.wst.server.core.prefs
Servers/.project
.metadata/.plugins/org.eclipse.wst.validation/dep.index
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Projeto_TCC/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.projects/Estacionamento_Automatizado/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/Estacionamento_Automatizado/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/Estacionamento_Automatizado/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Estacionamento_Automatizado/.indexes/af/history.index
.metadata/.log
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.projects/Estacionamento_Automatizado/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.validation/dep.index
Servers/.settings/org.eclipse.wst.server.core.prefs
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/version.ini
*.prefs
