body{
  display: flex;
  justify-content: center;
}

.container{
  width: 430px;
  height: 480px;
  margin: auto;
  background-color: #094001e0;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container > form {
  display: flex;
  flex-direction: column;
}

.container > form > input {
  width: 20rem;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
}

.container > form > label {
  margin-bottom: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  font-weight: bold;
}

.container > form > div {
  display: flex;
  justify-content: center;
}

.container > form > div > button{
  padding: 10px;
  width: 7rem;
}

.redefineSenhaOk{
  color: rgb(3, 88, 3);
  display: none;
  background-color: rgb(141, 224, 141);
  border-radius: 0.5rem;
  position: static;
}

.redefineSenhaErro{
  color: rgb(88, 3, 3);
  display: none;
  background-color: rgb(224, 141, 141);
  border-radius: 0.5rem;
  position: static;
}

.carregamentoRedefinirSenha{
  margin-left: auto ;
  margin-right: auto;
  position: inherit !important;
  color: #ffffff;
}