html,
body {
  display: flex;
  width: 100%;
  height: 98%;
  background-color: #0c4304;
}

.logo{
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  width: 100%;
  justify-content: flex-end;
}

.logo > img{
  width: 7rem;
}

.container {
  margin: 1rem 0rem 0 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 10;m
}

.filial{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 7rem;
}

.item{
  text-align: center;
}

.item2{
  background-color: #fff;
    height: 1.5rem;
    width: 1.5rem;
    padding: 0.5rem;
    border-radius: 3rem;
    color: black;
    text-align: center;
    justify-content: center;
    border: 2px solid;
    margin: -61px 0rem 0rem 106px;
    display: flex;
}

.medidores{
  display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 2rem;
    border: 0.5px solid #fff;
    border-radius: 1rem;
    background-color: #0121018a;
    padding: 1rem;
}

.medidorValor{
  display: flex;
  justify-content: flex-end;
}

.check{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.check #check-out:not(:checked) ~ label:nth-child(2){
  background-color: #716d6d;
  color: #383535;
}

.check #check-out:checked ~ label:nth-child(4){
  background-color: #716d6d;
  color: #383535;
}

.check > label {
  padding: 1rem;
  margin: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #fff;
  border-radius: 2rem;
  cursor: pointer;
  color: #fff;
  outline: 0px auto -webkit-focus-ring-color;  
  width: 7rem;
  text-align: center;
}

.check > label:nth-child(2){
  background-color: #880000;
}

.check > label:nth-child(4){
  background-color: #027c31;
}

.box-check{
  display: none;
  width: 100%;
  justify-content: center;
}

.check #check-out:checked ~ div{
  /*(Elemento Pai) (Id do elemento da ação) ~ DIV ----- seleciona todo elemento "div" q é precedido por um elemento "pai-check"*/
  display: flex;
}

.check #check-in:checked ~ div{
  display: flex;
}

.box-check > div {
  border: 0.5px solid #fff;
  border-radius: 1rem;
  background-color: #0121018a;
  padding: 1rem;
  width: 8rem;
}

.box-check > div > form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.box-check > div > form > label{
  margin-bottom: 10px;
}

.box-check > div > form > a{
  color: white;
  margin: 1rem 0rem 0.2rem;
}

.box-check > div > form > button{
  margin: auto;
  width: 5rem;
    background-color: whitesmoke;
    border: none;
    padding: 0.4rem;
    border-radius: 3px;
    font-family: monospace;
}

.circulo{  
  background-color: #fff;
    padding: 1rem;
    border-radius: 5rem;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.circulo > span{
  color: black;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select {
  width: fit-content;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  outline: 0px auto -webkit-focus-ring-color;
}

option {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  width: 95%;
  z-index: 11;
}
