html,
body {
  display: flex;
  width: 100%;
  height: 98%;
  background-color: #0c4304;
}

.logo{
  display: flex;
  flex-wrap: nowrap;
  position: absolute;
  width: 100%;
  justify-content: flex-end;
}

.logo > img{
  width: 7rem;
}

.container {
      display: flex;
      justify-content: end;
      padding: 3rem 0rem 0rem;
      width: 100%;
      color: #fff;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      z-index: 10;
      justify-content: space-around;
      flex-wrap: wrap;
}

.container > div:nth-child(1){
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2{
  margin-bottom: 1rem;
  font-family: "Source Sans Pro", sans-serif;
}

button{
  background-color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 5rem;
    width: 5rem;
    font-family: monospace;    
  outline: 0px auto -webkit-focus-ring-color;
  cursor: pointer;
}

.listaFuncionarios{
  background-color: #aeb7ad42;
  color: black;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 0.2rem;
}

.listaFuncionarios > ul{
  background-color: #ffffff;
    padding: 0.5rem 0rem 0rem;
    border: 1px solid #efefef;
    border-radius: 0.2rem;
    margin: 0.1rem 0rem;
}

.listaFuncionarios > ul > label{
  display: block;
    justify-content: center;
    padding: 0.2rem 2rem;
}

.listaFuncionarios li{
  width: auto;
    display: none;
    background-color: #bac1b9ad;
    padding: 0.4rem 0.2rem;
}

.itemFuncionario > input:checked ~ li{
  display: flex;
}


/**/

.check{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.check > button {
  padding: 1rem;
  margin: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 1px solid #fff;
  border-radius: 2rem;
  cursor: pointer;
  color: #fff;
  outline: 0px auto -webkit-focus-ring-color;  
  width: 7rem;
}

.check > button:nth-child(1){
  background-color: #880000;
}

.check > button:nth-child(2){
  background-color: #027c31;
}

.box-check{
  display: none;
  width: 100%;
  justify-content: center;
}

.exibirBox-check{
  display: flex;
}

.box-check > div {
  border: 0.5px solid #fff;
  border-radius: 1rem;
  background-color: #0121018a;
  padding: 1rem;
  width: 8rem;
}

.box-check > div > form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.box-check > div > form > label{
  margin-bottom: 10px;
}

.box-check > div > form > a{
  color: white;
  margin: 1rem 0rem 0.2rem;
}

.box-check > div > form > button{
  margin: auto;
  width: 5rem;
    background-color: whitesmoke;
    border: none;
    padding: 0.4rem;
    border-radius: 3px;
    font-family: monospace;
}

.circulo{  
  background-color: #fff;
  padding: 2.4rem;
  border-radius: 5rem;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: nowrap;
}

.circulo > span{
  color: black;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select {
  width: fit-content;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  outline: 0px auto -webkit-focus-ring-color;
}

option {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
  display: flex;
  flex-wrap: nowrap;
  position: fixed;
  width: 95%;
  z-index: 11;
}
