@media only screen and (min-width: 200px) {
  .menu {
    vertical-align: middle;
    width: auto;
    display: inline-block;
    font-family: "Source Sans Pro", sans-serif;
    transform: translate3d(0, 0, 0);
  }
  .menu input {
    position: absolute;
    left: -9999px;
  }
  .menu #togglemenu:checked ~ ul {
    max-height: 100%;
    padding-left: 0.4rem;
  }
  .togglemenu {
    background: #ffffff;
    color: black;
    display: block;
    padding: 0.75em;
    text-align: center;
    cursor: pointer;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 40px;
    height: 40px;
    border-radius: 3rem;
  }
  .togglemenu:before {
    content: "\2630";
    font-size: 1.8em;
    vertical-align: middle;
  }
  .menu ul {
    margin-top: 2px;
    text-align: left;
    max-height: 0px;
    overflow: hidden;
    padding-left: -40px !important;
    transition: 0.7s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    width: 6rem;
  }
  .menu li {
    margin-bottom: 1px;
    position: relative;
    z-index: 10;
    transition: 300ms ease all;
    list-style: none;
    margin-top: 1rem;
  }
  .menu li a {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    padding: 0.8em;
    background: rgb(255 255 255);
    text-decoration: none;
    color: black;
    box-sizing: border-box;
    transition: 1300ms ease all;
    border-radius: 2rem;
  }
  
}